<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{cookiecutter.app_name.split('_')|map('title')|join}}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>

<body>
  <%= render @view_module, @view_template, assigns %>
</html>

